<div class="navega">
  <div class="logo">
      <div class="imagen">
          <img src="./assets/esmeralda.png" alt="">
      </div>
      <div class="empresa">
          <h4><B>LA ESMERALDA</B></h4>
      </div>
  </div>
  <div class="acciones float-right">
      <div class="icons">
          <div class="user">
              <fa-icon [icon]="faUser" class="faUser"></fa-icon>
          </div>

          <div class="login dropdown">

                <fa-icon [icon]='faSortDown' class="dropdown" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></fa-icon>

                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Cambiar Contraseña</a>
                  <a class="dropdown-item" href="#">Ver Perfil</a>
                  <a class="dropdown-item" (click)="logout()" href="javascript:void(0)">Salir</a>
                </div>
          </div>
      </div>
  </div>
</div>
